/* Numeros */
.container input {
    background: black;
    color: rgb(6, 162, 160);
    height: 50px;
    width: 100px;
    border-radius: 10px;
    border: 1px dashed whitesmoke;
    margin: 2px;
    font-size: xx-large;
  }
  
  .container input:hover {
    color: rgb(112, 239, 239);
    font-weight: bold;
  }
  
  /* Borde calculadora */
  .full {
    
    border: 10px solid rgb(76, 240, 237);
    margin: 2px;
    padding: 12px;
    border-radius: 20px;
    background-image: url(../assets/img/fondo2.jpg);
  }
  
  .input[type="text"] {
    color: white;
    text-align: center;
  }
  
  .scroll {
    height: 260px;
    max-height: 260px;
    overflow-y: auto;
    background-color: black;
  }
  
  .card {
    margin-top: 22px;
    background-color: black;
    border: 1px dashed whitesmoke;
  }
  
  .listHistory {
    font-size: xx-large;
    margin-top: 10px;
    color: rgb(112, 239, 239);
  }
  
  /* Estilos para los botones */
  .button-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 5px;
  }

  .button-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .button-row input {
    width: calc(25% - 5px); /* Ajusta el ancho de los botones */
    height: 60px; /* Ajusta la altura de los botones */
    font-size: 24px; /* Ajusta el tamaño de fuente */
    margin-bottom: 5px;
  }

